body {
    margin: 0;
    padding: 0;
    background-image: url(9b9a77648d99af5faf683e214e54bb35.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    width: 80%;
    height: 90%;
    position: relative;
    border: 2px solid white;
    overflow: hidden;
}

#nave {
    width: 220px;
    height: 210px;
    background-image: url(nave2-1.png.png);
    position: absolute;
    left: 50%;
}

.coluna {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
  
.inimigo1 {
    width: 75px;
    height: 70px;
    background-image: url(inimigo1.png);
}

.inimigo2 {
    width: 75px;
    height: 70px;
    background-image: url(inimigo2.png);
}

.inimigo3 {
    width: 75px;
    height: 70px;
    background-image: url(inimigo3.png);
}

.inimigo4 {
    width: 75px;
    height: 70px;
    background-image: url(inimigo4.png);
}



